@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Raleway, sans-serif;
    background-color: black;
    color: white;
    /*margin: 10px;*/
}

.container-fluid {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin-left: 10%;
}

.hidden {
    display: none;
}

.modal-add-edit {
    position: absolute;
    margin: 0 auto;
    width: 28rem;
    height: 18rem;
    left: -50%;
    right: -50%;
    top: 15%;
    color: white;
    background-color: black;
    border: .2rem solid red;
    border-radius: .2rem;
}

.modal-flex {
    display: flex;
    justify-content: end;
}

.modal-close {
    color: red;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 2px 3px;
    cursor: pointer;
    outline: 2px solid red;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.logo {
    color: red;
    text-decoration: none;
}

.logo2 {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.navbar li {
    list-style: none;
}

.navtext {
    color: white;
    text-decoration: none;

    padding: 10px 10px;
    font-size: 14px;
}

.header_text {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.login,
.signup {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    background-color: red;
    font-weight: bold;
    border: 1px solid red;
}

.login:hover,
.signup:hover {
    background-color: transparent;
}


.search_button,
.input {
    text-align: center;
    width: 50%;
    border-radius: 5px;
}

.search_button {
    color: white;
    background-color: transparent;
    margin-left: 25%;
    padding: 1%;
    font-weight: bold;
    border: 1px solid red;
}

.search_button:hover {
    background-color: red;
    transition: 1s;
    /*cursor: pointer;*/
}

.input {
    /*border-radius: 50px;*/
    border: 1px solid red;
    /*width: 50%;*/
    padding: 1%;
    background-color: white;
    margin-left: 24%;
    margin-bottom: 5px;
}


/* BEGIN CONTAINER-MOVIE-CARDS */

#edit-movie {
    color: red;
}

#remove-movie {
    color: red;
    font-weight: 900;
}

#edit-movie:hover,
#remove-movie:hover {
    cursor: pointer;
}

.container-movie-cards {
    outline: solid red 1px; /* removeremove */
    height: 300px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 3px;
}

.card-img {
    height: 300px;
    width: 200px;
}

/* Section 1 Style Ends */

/* Section 2 Style Start */
.trending_movies {
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.section2 {
    background-color: rgb(14, 30, 36);

}

.img-responsive {
    width: 30%;
    margin: 20px;
    height: auto;
    max-width: 100%;
    border: none;
    display: inline-block;
    padding: 5px 0;
}

/* Section 3 Start */
.movies_tv_shows {
    color: white;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
}

.details2 {
    background-color: black;
}

.how_it_works_background {
    background-color: black;
    padding: 10%;
    position: relative;
}

.how_it_works {
    color: red;
    text-transform: capitalize;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}

.under {
    color: black;
    text-align: center;
}

.signup_pics {
    margin-left: 25%;
    top: 16px;
    position: absolute;
}

.pricing_pics {
    margin-left: 20%;
    top: 42%;
    position: absolute;
}

.space {
    margin-bottom: 25%;
    bottom: 20%;
}

.space2 {
    margin-bottom: 25%;
    bottom: 20%;
}

.enjoy_pics {
    margin-left: 30%;
    top: 70%;
    position: absolute;
}

/* Footer Ends */


@media (max-width: 908px) {
    .login {
        display: none;
    }
}

@media (max-width: 908px) {
    .signup {
        display: none;
    }
}

@media (max-width: 908px) {
    nav header {
        color: white;
        text-align: center;
        flex-direction: column;
    }
}

@media (max-width: 950px) {
    .signup_pics, .pricing_pics, .enjoy_pics {
        display: none;
    }
}

@media (max-width: 950px) {
    .signup_pics, .pricing_pics, .enjoy_pics {
        display: none;
    }

    /* Section 3 Ends */
    /* Footer */
    footer {
        background-color: black;
        color: white;
        text-align: center;
    }

    .about-us {
        color: white;
        font-size: 12px;

    }
}